SECRET_KEY_ACCESS=NnD7f6pT1zq0Vqz2H5bC9D8JzZ4QxRr5G3pZlA
SECRET_KEY_REFRESH=a_super_secret_refresh_key

# POSTGRESQL
POSTGRES_DB=movies_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres_theater

PGADMIN_DEFAULT_EMAIL=PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_PASSWORD=PGADMIN_DEFAULT_PASSWORD

JWT_SIGNING_ALGORITHM=HS256

ENVIRONMENT=developing